@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #425b76;
}
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}
.fuelme-logo-main{
  height: 50px;
  width: 105px;
}
.fuelme-logo-main-footer{
  height: 50px;
  width: 105px;
}
.nav-menu{
  font-size: 16px;
}
.residential-ind{
  background-image: url(./assets/Fuel-me/residential.jpg);
  background-size: cover;
  height: 260px;
}
.manufacturing-ind{
  background-image: url(./assets/Fuel-me/manufacturing.jpg);
  background-size: cover;
  height: 260px;
}
.fleet-ind{
  background-image: url(./assets/Fuel-me/fleet.jpg);
  background-size: cover;
  height: 260px;
}
.diesel-ind{
  background-image: url(./assets/Fuel-me/diesel.jpeg);
  background-size: cover;
  height: 260px;
}
.gasoline-ind{
  background-image: url(./assets/Fuel-me/perol.jpg);
  background-size: cover;
  height: 260px;
}
.cng-ind{
  background-image: url(./assets/Fuel-me/cng.jpg);
  background-size: cover;
  height: 260px;
}
.gas-img{
  background-image: url(./assets/Fuel-me/gas-4.jpg);
  background-size: 100% 100%;

}
.ind-card{
  transition: .5s;
}
.ind-card:hover{
  transform: scale(1.1);
}
.MuiAccordionSummary-content{
  padding-left: 56px;
}
.MuiPaper-root, MuiPaper-elevation, MuiPaper-elevation0,  MuiAccordion-root, Mui-expanded{
  border: none;
}
.prod-img{
  height: 500px;
  margin: auto
}
.product-content{
  background-image: url(./assets/Fuel-me/pngs/products-bg.png);
  background-repeat: no-repeat;
}

.checkout-steps>div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}

.checkout-steps>div.active {
  border-bottom: 0.2rem solid #263bf5;
  color: #2d41f3;
}
.rating span{
  color: #fcbf08;
}
.fuel-screen-body{
  background: rgb(248,248,255);
}
.petrol-scr-img{
  background-image: url(./assets/Fuel-me/petrol-tanker.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
}
.petrol-scr-icon{
  transition: .5s;
}
.petrol-scr-icon:hover{
  transform: scale(1.1);
}
.diesel-scr-img{
  background-image: url(./assets/Fuel-me/diesel-pump.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
}
.lpg-scr-img{
  background-image: url(./assets/Fuel-me/cngImg.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
}
.cng-scr-img{
  background-image: url(./assets/Fuel-me/pngs/cng-img.png);
  background-size: 100% 100%;
  background-attachment: fixed;
}
.about-scr-cover{
  background-image: url(./assets/Fuel-me/about-us-cover.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
}
.testimonial-cards{
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  backdrop-filter: blur(10px);
}
.testimonial-cards::before{
  filter: blur(40px);
  backdrop-filter: blur(10px);
}
.videoTag{
  object-fit: contain;
  z-index: -1;
}













   /* ********************MOBILE *************************/
/* Galaxy fold */
@media screen and (min-width: 279.5px) and (max-width: 380px) {
    #root{
      width: 640px;
      color: black;
    }
    .nav-menu{
      display: none;
    }
    .profile{
      display: none;
    }
    .nav-logo{
      
    }
    .nav-hamburger{
      position: absolute;
      left: 40px;
      top: 40px;
      padding: 1px;
      display: block;
    }
    .nav-hamburger svg{
      font-size: 2.5rem;
      line-height: 3rem;
      color: rgb(66, 63, 63);
    }
    .fuelme-logo{
      position: absolute;
      left: 50px;
    }
    .fuelme-logo-main{
      height: 80px;
      width: 150px;
      position: relative;
      bottom: 20px;
      left: 180px;
    }
    .fuelme-logo-main-footer{
      height: 80px;
      width: 150px;
      margin: auto;
    }
    header {
      width: 640px;
      height: 200px;
    }
    .search-bar{
      display: none;
    }
    .nav-profile-btn{
      position: relative;
      bottom: 4px;
    }
    .nav-admin-icon{
      display: none;
    }
    .fa-user{
      font-size: 40px;
    }
    .fa-shopping-cart{
      font-size: 40px;
    }
    .cart-ico-container{
      position: relative;
      bottom: 10px;
      right: 0px;
    }
    .sign-in-text{
      font-size: 25px;
    }
    .navbar-for-mobile{
      display: block;
      overflow: hidden;
      height: 0px;
      transition: height 0.5s ease;
      position: absolute;
      left: 0;
      top: 130px;
      width: 630px;
      z-index: 1;
    }
    .hamburgerActive{
      height: 100%;
      overflow: auto;
    }
    .fuel-dropdown-contents{
      overflow: hidden;
      height: 0px;
      transition: height 0.1s ease;
    }
    .mobileFuelActive{
      height: 100%;
      overflow: auto;
    }
    .company-dropdown-contents{
      overflow: hidden;
      height: 0px;
      transition: height 0.1s ease;
    }
    .companyActive{
      height: 100%;
      overflow: auto;
    }
    .support-dropdown-contents{
      overflow: hidden;
      height: 0px;
      transition: height 0.1s ease;
    }
    .supportActive{
      height: 100%;
      overflow: auto;
    }
    .user-dropdown{
      overflow: hidden;
      height: 0px;
      transition: height 0.1s ease;
    }
    .profileActive{
      height: 100%;
      overflow: auto;
    }
    .home-intro-main{
      display: block;
      width: 620px;
      position: absolute;
      width: 620px;
      top: 100px;
    }
    .home-intro-pics{
      position: absolute;
      top: 0;
      width: 100%;
      padding-left: 5px;
      padding-right: 5px;
    }
    .home-intro-texts{
      width: 100%;
      position: absolute;
      top: 900px;
      padding: 0;
    }
    .intro-h{
      text-align: center;
    }
    .intro-page-p{
      text-align: center;
      padding-left: 80px;
      padding-right: 80px;
      font-size: 30px;
      line-height: 1.5;
      margin-top: 80px;
    }
    .home-svg{
      margin: auto;
      margin-top: 80px;
      width: 20%;
      margin-top: 100px;      
    }
    .home-intro-grid-text{
      padding-left: 90px;
      padding-right: 90px;
    }
    .higt-a{
      padding-left: 30px;
      padding-right: 30px;
    }
    .home-intro-grid-text h1{
      font-size: 40px;
      text-align: center;
      margin-top: 20px;
    }
    .hiop-mini{
      font-size: 24px;
      text-align: center;
      margin-top: 60px;
    }
    .hiob{
      margin-top: 89px;
      text-align: center;
      font-size: 22px;
    }
    .hiob-right{
      text-align: center;
      font-size: 22px;
    }
    .homepage-about{
      width: 600px;
    }
    .homeabout-main{
      margin-top: 1800px;
      display: block;
    }
    .home-about-texts{
      width: 100%;
      margin-top: 400px;
    }
    .why-choose-us{
      font-size: 24px;
    }
    .home-about-paragraph{
      font-size: 20px;
    }
    .home-about-btn{
      font-size: 26px;
    }
    .home-about-design{
      margin-top: 100px;
      width: 100%;
    }
    .home-about-item h1{
      font-size: 30px;
    }
    .home-about-item p{
      font-size: 22px;
    }
    .hp-about-icons{
      margin-top: 10px;
    }
    .fuel-me-bike{
      width: 100%;
      height: 500px;
      margin-left: 0;
      margin-top: 100px;
    }
    .parallax-slider-m{
      display: none;
    }
    .hiw-texts p{
      font-size: 26px;
    }
    .hiw-design{
      display: block;
    }
    .hiw-icons-left{
      width: 100%;
    }
    .hiw-app{
      width: 100%;
    }
    .homepage-how-it-works{
      width: 638px;
      margin: auto;
    }
    .hiw-three{
      position: relative;
      top: 850px;
    }
    .hiw-two{
      position: absolute;
      bottom: 950px;
    }
    .hiw-four{
      position: relative;
      margin-top: 300px;
    }
    .homepage-industries{
      width: 620px;
    }
    .industry-heading{
      display: block;
    }
    .industry-header-title{
      padding-left: 0;
    }
    .industry-heading div{
      width: 100%;
      text-align: center;
    }
    .industry-p{
      color: black;
      font-size: 20px;
      margin-top: 30px;
    }
    .industry-cards{
      display: block;
    }
    .industry-cards div{
      width: 100%;
    }
    .industry-card-base{
      margin-top: 100px;
    }
    .ind-btn{
      color: black;
      font-weight: 700;
    }
    .homepage-gas-station{
      width: 640px;
      margin-top: 150px;
    }
    .gas-main{
      display: block;
    }
    .gas-img-a{
      width: 100%;
    }
    .gas-txt{
      width: 100%;
      padding-right: 96px;
      text-align: center;
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
    .gas-txt div{
      justify-content: center;
    }
    .fuel-station-img-cover{
      height: 300px;
    }
    .homepage-fuel-me-app{
      width: 640px;
    }
    .fuel-me-app-card{
      display: block;
    }
    .fma-card-img{
      position: relative;
      bottom: 450px;
      width: 100%;
    }
    .fma-card-img img{
      margin: auto;
    }
    .fma-card-p{
      position: relative;
      top: 500px;
      width: 100%;
      padding-left: 60px;
      padding-right: 60px;
    }
    .fma-card-p h1{
      text-align: center;
    }
    .homepage-faq{
      width: 640px;
    }
    .homepage-faq p{
      font-size: 18px;
    }
    .footer-main{
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
    .footer-contents{
      display: block;
      text-align: center;
    }
    .footer-title{
      text-align: center;
    }
    .fuel-me-logo-footer{
      left: 110px;
    }
    .footer-title-social div{
      justify-content: center;
    }
    .footer-phrase{
      font-size: 20px;
    }
    .footer-heading{
      font-size: 24px;
    }
    .footer-promo{
      text-align: center;
    }

    /* Shop screen */
    .shop-heading{
      margin-top: 150px;
    }
    .product-intro-paragraph{
      font-size: 24px;
    }
    .products-card{
      padding-left: 10px;
      padding-right: 10px;
    }
    .product-card{
      display: block;
    }
    .product-title{
      width: 100%;
      text-align: center;
    }
    .cart-function{
      margin-top: 40px;
      text-align: center;
      justify-content: center;
    }
    .cart-price{
      font-size: 24px;
    }
    .product-image{
      width: 100%;
      margin-top: 50px;
    }
    .product-description{
      width: 100%;
      padding-left: 50px;
      padding-right: 50px;
      margin-top: 80px;
    }
    .prod-desc-header{
      text-align: center;
      font-size: 26px;
    }
    .prod-desc-longdesc{
      font-size: 22px;
      text-align: center;
    }
    .learn-more-prod{
      text-align: center;
    }
    .prob-btn-learn{
      font-size: 20px;
      margin-top: 50px;
    }
    .share-btns{
      width: 30%;
      margin: auto;
      text-align: center;
      margin-top: 50px;
    }
    /* Shop screen Ends */
    
    /* Fuels screen */
    .perol-screen-contents{
      padding-left: 30px;
      padding-right: 30px;
    }
    .petrol-scr-grid-contents{
      display: block;
    }
    .petrol-scr-left{
      width: 100%;
    }
    .petrol-scr-left p{
      font-size: 20px;
    }
    .petrol-scr-right{
      width: 100%;
      margin-top: 80px;
    }
    .petrol-scr-right p{
      font-size: 20px;
    }
    .petrol-promo{
      display: block;
    }
    .petrol-promo-img{
      width: 100%;
    }
    .petrol-promo-txt{
      width: 100%;
      font-size: 22px;
      margin-top: 80px;
      text-align: center;
    }
    .cng-paragraph-p{
      display: none;
    }
    /* about screen */
    .about-scr-intro-contents{
      display: block;
    }
    .about-scr-intro-img{
      width: 100%;
    }
    .about-scr-intro-texts{
      width: 100%;
      text-align: center;
    }
    .about-scr-intro-texts p{
      font-size: 24px;
    }
    .about-scr-intro-btn{
      font-size: 24px;
      width: 48%;
      margin: auto;
      margin-top: 80px;
    }
    .fuelme-values{
      margin-top: 200px;
    }
    .fuelme-values-content{
      display: block;
    }
    .fuelme-values-card{
      width: 100%;
      margin-bottom: 100px;
      padding-left: 100px;
      padding-right: 100px;
      padding-top: 100px;
      padding-bottom: 100px;
    }
    .team-content{
      display: block;
    }
    .team-card{
      width: 100%;
      margin-bottom: 100px;
    }
    .fuel-me-custom-truck{
      height: 600px;
      width: 100%;
    }
    /* about screen done */

    /* Services Screen */
    .services-intro-head{
      display: block;
    }
    .services-intro-img{
      width: 100%;
      position: relative;
      bottom: 400px;
    }
    .services-intro-texts{
      width: 100%;
      position: relative;
      top: 500px;
    }
    .services-intro-texts p{
      font-size: 24px;
    }
    .services-section{
      margin-top: 200px;
    }
    .serv-tab{
      font-size: 24px;
    }
    .services-tab-picker{
      display: block;
    }
    .services-texts{
      width: 100%;
      position: relative;
      top: 500px;
      text-align: center;
    }
    .services-texts p{
      font-size: 20px;
    }
    .services-img{
      width: 100%;
      position: relative;
      bottom: 450px;
    }
    .services-bullet{
      text-align: left;
    }
    /* Services screen end */

    /* Career screen */
    .job-opening p{
      font-size: 24px;
    }
    /* career screen ends */


    /* Contact screen */
    .contact-screen-contents{
      display: block;
    }
    .contact-screen-texts{
      width: 100%;
      text-align: center;
    }
    .contact-screen-texts p{
      font-size: 24px;
      margin-bottom: 100px;
    }
    .contact-input{
      width: 100%;
      margin-top: 150px;
    }
    .contact-telephone{
      font-size: 24px;
      justify-content: center;
    }
    /* Contact screen ends */

    .order-history-scr-main{
      padding-left: 10px;
      padding-right: 10px;
    }
    .cart-display{
      display: block;
    }
    .cart-table{
      width: 100%;
      margin-bottom: 100px;
    }
    /* Product details Screen */
    .product-contents{
      display: block;
      padding-left: 20px;
      padding-right: 20px;
    }
    .product-img{
      width: 100%;
      box-shadow: none;
    }
    .product-details{
      width: 100%;
      margin-top: 100px;
      text-align: center;
    }
    .product-details fieldset{
      margin-top: 100px;
    }
    .product-infos-container{
      padding-left: 5px;
      padding-left: 5px;
    }
    .css-70gt0h-MuiButtonBase-root-MuiTab-root.Mui-selected{
      
    }
    .css-70gt0h-MuiButtonBase-root-MuiTab-root{
      width: 0%;
    }
    .css-heg063-MuiTabs-flexContainer{
      width: 40%;
    }
    /* Product details screen end */
  }
  
  




  

   /* samsung s8 plus */
  
  
    /* iphone 12 pro and >*/
    @media screen and (min-width: 381.5px) and (max-width: 480px) {
      body{
        width: auto;
        padding: 0;
        margin: 0;
      }
      #root{
        width: 640px;
        color: black;
      }
      .nav-menu{
        display: none;
      }
      .profile{
        display: none;
      }
      .nav-logo{
        
      }
      .nav-hamburger{
        position: absolute;
        left: 40px;
        top: 40px;
        padding: 1px;
        display: block;
      }
      .nav-hamburger svg{
        font-size: 2.5rem;
        line-height: 3rem;
        color: rgb(66, 63, 63);
      }
      .fuelme-logo{
        position: absolute;
        left: 50px;
      }
      .fuelme-logo-main{
        height: 80px;
        width: 150px;
        position: relative;
        bottom: 20px;
        left: 180px;
      }
      .fuelme-logo-main-footer{
        height: 80px;
        width: 150px;
        margin: auto;
      }
      header {
        width: 640px;
        height: 200px;
      }
      .search-bar{
        display: none;
      }
      .nav-profile-btn{
        position: relative;
        bottom: 4px;
      }
      .nav-admin-icon{
        display: none;
      }
      .fa-user{
        font-size: 40px;
      }
      .fa-shopping-cart{
        font-size: 40px;
      }
      .cart-ico-container{
        position: relative;
        bottom: 10px;
        right: 0px;
      }
      .sign-in-text{
        font-size: 25px;
      }
      .navbar-for-mobile{
        display: block;
        overflow: hidden;
        height: 0px;
        transition: height 0.5s ease;
        position: absolute;
        left: 0;
        top: 130px;
        width: 630px;
        z-index: 1;
      }
      .hamburgerActive{
        height: 100%;
        overflow: auto;
      }
      .fuel-dropdown-contents{
        overflow: hidden;
        height: 0px;
        transition: height 0.1s ease;
      }
      .mobileFuelActive{
        height: 100%;
        overflow: auto;
      }
      .company-dropdown-contents{
        overflow: hidden;
        height: 0px;
        transition: height 0.1s ease;
      }
      .companyActive{
        height: 100%;
        overflow: auto;
      }
      .support-dropdown-contents{
        overflow: hidden;
        height: 0px;
        transition: height 0.1s ease;
      }
      .supportActive{
        height: 100%;
        overflow: auto;
      }
      .user-dropdown{
        overflow: hidden;
        height: 0px;
        transition: height 0.1s ease;
      }
      .profileActive{
        height: 100%;
        overflow: auto;
      }
      .home-intro-main{
        display: block;
        width: 620px;
        position: absolute;
        width: 620px;
        top: 100px;
      }
      .home-intro-pics{
        position: absolute;
        top: 0;
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
        /* background-color: red;s */
      }
      .home-intro-pics img{
        height: 800px;
      }
      .home-intro-texts{
        width: 100%;
        position: absolute;
        top: 900px;
        padding: 0;
      }
      .intro-h{
        text-align: center;
      }
      .intro-page-p{
        text-align: center;
        padding-left: 80px;
        padding-right: 80px;
        font-size: 30px;
        line-height: 1.5;
        margin-top: 80px;
      }
      .home-svg{
        margin: auto;
        margin-top: 80px;
        width: 20%;
        margin-top: 100px;      
      }
      .home-intro-grid-text{
        padding-left: 90px;
        padding-right: 90px;
      }
      .higt-a{
        padding-left: 30px;
        padding-right: 30px;
      }
      .home-intro-grid-text h1{
        font-size: 40px;
        text-align: center;
        margin-top: 20px;
      }
      .hiop-mini{
        font-size: 24px;
        text-align: center;
        margin-top: 60px;
      }
      .hiob{
        margin-top: 89px;
        text-align: center;
        font-size: 22px;
      }
      .hiob-right{
        text-align: center;
        font-size: 22px;
      }
      .homepage-about{
        width: 600px;
      }
      .homeabout-main{
        margin-top: 1800px;
        display: block;
      }
      .home-about-texts{
        width: 100%;
        margin-top: 400px;
      }
      .why-choose-us{
        font-size: 24px;
      }
      .home-about-paragraph{
        font-size: 20px;
      }
      .home-about-btn{
        font-size: 26px;
      }
      .home-about-design{
        margin-top: 100px;
        width: 100%;
      }
      .home-about-item h1{
        font-size: 30px;
      }
      .home-about-item p{
        font-size: 22px;
      }
      .hp-about-icons{
        margin-top: 10px;
      }
      .fuel-me-bike{
        width: 100%;
        height: 700px;
        margin-left: 0;
        margin-top: 100px;
      }
      .parallax-slider-m{
        display: none;
      }
      .hiw-texts p{
        font-size: 26px;
      }
      .hiw-design{
        display: block;
      }
      .hiw-icons-left{
        width: 100%;
      }
      .hiw-app{
        width: 100%;
      }
      .homepage-how-it-works{
        width: 638px;
        margin: auto;
      }
      .hiw-three{
        position: relative;
        top: 850px;
      }
      .hiw-two{
        position: absolute;
        bottom: 950px;
      }
      .hiw-four{
        position: relative;
        margin-top: 300px;
      }
      .homepage-industries{
        width: 620px;
      }
      .industry-heading{
        display: block;
      }
      .industry-header-title{
        padding-left: 0;
      }
      .industry-heading div{
        width: 100%;
        text-align: center;
      }
      .industry-p{
        color: black;
        font-size: 20px;
        margin-top: 30px;
      }
      .industry-cards{
        display: block;
      }
      .industry-cards div{
        width: 100%;
      }
      .industry-card-base{
        margin-top: 100px;
      }
      .ind-btn{
        color: black;
        font-weight: 700;
      }
      .homepage-gas-station{
        width: 640px;
        margin-top: 150px;
      }
      .gas-main{
        display: block;
      }
      .gas-img-a{
        width: 100%;
      }
      .gas-txt{
        width: 100%;
        padding-right: 96px;
        text-align: center;
        padding-top: 4rem;
        padding-bottom: 4rem;
      }
      .gas-txt div{
        justify-content: center;
      }
      .homepage-fuel-me-app{
        width: 640px;
      }
      .fuel-station-img-cover{
        height: 300px;
      }
      .fuel-me-app-card{
        display: block;
      }
      .fma-card-img{
        position: relative;
        bottom: 450px;
        width: 100%;
      }
      .fma-card-img img{
        margin: auto;
      }
      .fma-card-p{
        position: relative;
        top: 500px;
        width: 100%;
        padding-left: 60px;
        padding-right: 60px;
      }
      .fma-card-p h1{
        text-align: center;
      }
      .homepage-faq{
        width: 640px;
      }
      .homepage-faq p{
        font-size: 18px;
      }
      .footer-main{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
      }
      .footer-contents{
        display: block;
        text-align: center;
      }
      .footer-title{
        text-align: center;
      }
      .fuel-me-logo-footer{
        left: 110px;
      }
      .footer-title-social div{
        justify-content: center;
      }
      .footer-phrase{
        font-size: 20px;
      }
      .footer-heading{
        font-size: 24px;
      }
      .footer-promo{
        text-align: center;
      }
  
      /* Shop screen */
      .shop-heading{
        margin-top: 150px;
      }
      .product-intro-paragraph{
        font-size: 24px;
      }
      .products-card{
        padding-left: 10px;
        padding-right: 10px;
      }
      .product-card{
        display: block;
      }
      .product-title{
        width: 100%;
        text-align: center;
      }
      .cart-function{
        margin-top: 40px;
        text-align: center;
        justify-content: center;
      }
      .cart-price{
        font-size: 24px;
      }
      .product-image{
        width: 100%;
        margin-top: 50px;
      }
      .product-description{
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 80px;
      }
      .prod-desc-header{
        text-align: center;
        font-size: 26px;
      }
      .prod-desc-longdesc{
        font-size: 22px;
        text-align: center;
      }
      .learn-more-prod{
        text-align: center;
      }
      .prob-btn-learn{
        font-size: 20px;
        margin-top: 50px;
      }
      .share-btns{
        width: 30%;
        margin: auto;
        text-align: center;
        margin-top: 50px;
      }
      /* Shop screen Ends */
      
      /* Fuels screen */
      .perol-screen-contents{
        padding-left: 30px;
        padding-right: 30px;
      }
      .petrol-scr-grid-contents{
        display: block;
      }
      .petrol-scr-left{
        width: 100%;
      }
      .petrol-scr-left p{
        font-size: 20px;
      }
      .petrol-scr-right{
        width: 100%;
        margin-top: 80px;
      }
      .petrol-scr-right p{
        font-size: 20px;
      }
      .petrol-promo{
        display: block;
      }
      .petrol-promo-img{
        width: 100%;
      }
      .petrol-promo-txt{
        width: 100%;
        font-size: 22px;
        margin-top: 80px;
        text-align: center;
      }
      .cng-paragraph-p{
        display: none;
      }
      /* about screen */
      .about-scr-intro-contents{
        display: block;
      }
      .about-scr-intro-img{
        width: 100%;
      }
      .about-scr-intro-texts{
        width: 100%;
        text-align: center;
      }
      .about-scr-intro-texts p{
        font-size: 24px;
      }
      .about-scr-intro-btn{
        font-size: 24px;
        width: 48%;
        margin: auto;
        margin-top: 80px;
      }
      .fuelme-values{
        margin-top: 200px;
      }
      .fuelme-values-content{
        display: block;
      }
      .fuelme-values-card{
        width: 100%;
        margin-bottom: 100px;
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 100px;
        padding-bottom: 100px;
      }
      .team-content{
        display: block;
      }
      .team-card{
        width: 100%;
        margin-bottom: 100px;
      }
      .fuel-me-custom-truck{
        height: 600px;
        width: 100%;
      }
      /* about screen done */
  
      /* Services Screen */
      .services-intro-head{
        display: block;
      }
      .services-intro-img{
        width: 100%;
        position: relative;
        bottom: 400px;
      }
      .services-intro-texts{
        width: 100%;
        position: relative;
        top: 500px;
      }
      .services-intro-texts p{
        font-size: 24px;
      }
      .services-section{
        margin-top: 200px;
      }
      .serv-tab{
        font-size: 24px;
      }
      .services-tab-picker{
        display: block;
      }
      .services-texts{
        width: 100%;
        position: relative;
        top: 500px;
        text-align: center;
      }
      .services-texts p{
        font-size: 20px;
      }
      .services-img{
        width: 100%;
        position: relative;
        bottom: 450px;
      }
      .services-bullet{
        text-align: left;
      }
      /* Services screen end */
  
      /* Career screen */
      .job-opening p{
        font-size: 24px;
      }
      /* career screen ends */
  
  
      /* Contact screen */
      .contact-screen-contents{
        display: block;
      }
      .contact-screen-texts{
        width: 100%;
        text-align: center;
      }
      .contact-screen-texts p{
        font-size: 24px;
        margin-bottom: 100px;
      }
      .contact-input{
        width: 100%;
        margin-top: 150px;
      }
      .contact-telephone{
        font-size: 24px;
        justify-content: center;
      }
      /* Contact screen ends */
  
      .order-history-scr-main{
        padding-left: 10px;
        padding-right: 10px;
      }
      .cart-display{
        display: block;
      }
      .cart-table{
        width: 100%;
        margin-bottom: 100px;
      }
      /* Product details Screen */
    .product-contents{
      display: block;
      padding-left: 20px;
      padding-right: 20px;
    }
    .product-img{
      width: 100%;
      box-shadow: none;
    }
    .product-details{
      width: 100%;
      margin-top: 100px;
      text-align: center;
    }
    .product-details fieldset{
      margin-top: 100px;
    }
    .product-infos-container{
      padding-left: 5px;
      padding-left: 5px;
    }
    .css-70gt0h-MuiButtonBase-root-MuiTab-root.Mui-selected{
      
    }
    .css-70gt0h-MuiButtonBase-root-MuiTab-root{
      width: 0%;
    }
    .css-heg063-MuiTabs-flexContainer{
      width: 40%;
    }
    /* Product details screen end */
    }
  
  /* surface duo */
  @media screen and (min-width: 481px) and (max-width: 587px) {
    body{
      width: auto;
      padding: 0;
      margin: 0;
    }
    #root{
      width: 640px;
      color: black;
    }
    .nav-menu{
      display: none;
    }
    .profile{
      display: none;
    }
    .nav-logo{
      
    }
    .nav-hamburger{
      position: absolute;
      left: 40px;
      top: 40px;
      padding: 1px;
      display: block;
    }
    .nav-hamburger svg{
      font-size: 2.5rem;
      line-height: 3rem;
      color: rgb(66, 63, 63);
    }
    .fuelme-logo{
      position: absolute;
      left: 50px;
    }
    .fuelme-logo-main{
      height: 80px;
      width: 150px;
      position: relative;
      bottom: 20px;
      left: 180px;
    }
    .fuelme-logo-main-footer{
      height: 80px;
      width: 150px;
      margin: auto;
    }
    header {
      width: 640px;
      height: 200px;
    }
    .search-bar{
      display: none;
    }
    .nav-profile-btn{
      position: relative;
      bottom: 4px;
    }
    .nav-admin-icon{
      display: none;
    }
    .fa-user{
      font-size: 40px;
    }
    .fa-shopping-cart{
      font-size: 40px;
    }
    .cart-ico-container{
      position: relative;
      bottom: 10px;
      right: 0px;
    }
    .sign-in-text{
      font-size: 25px;
    }
    .navbar-for-mobile{
      display: block;
      overflow: hidden;
      height: 0px;
      transition: height 0.5s ease;
      position: absolute;
      left: 0;
      top: 130px;
      width: 630px;
      z-index: 1;
    }
    .hamburgerActive{
      height: 70%;
      overflow: auto;
    }
    .fuel-dropdown-contents{
      overflow: hidden;
      height: 0px;
      transition: height 0.1s ease;
    }
    .mobileFuelActive{
      height: 100%;
      overflow: auto;
    }
    .company-dropdown-contents{
      overflow: hidden;
      height: 0px;
      transition: height 0.1s ease;
    }
    .companyActive{
      height: 100%;
      overflow: auto;
    }
    .support-dropdown-contents{
      overflow: hidden;
      height: 0px;
      transition: height 0.1s ease;
    }
    .supportActive{
      height: 100%;
      overflow: auto;
    }
    .user-dropdown{
      overflow: hidden;
      height: 0px;
      transition: height 0.1s ease;
    }
    .profileActive{
      height: 100%;
      overflow: auto;
    }
    .home-intro-main{
      display: block;
      width: 620px;
      position: absolute;
      width: 620px;
      top: 100px;
    }
    .home-intro-pics{
      position: absolute;
      top: 0;
      width: 100%;
      padding-left: 5px;
      padding-right: 5px;
      /* background-color: red;s */
    }
    .home-intro-pics img{
      height: 800px;
    }
    .home-intro-texts{
      width: 100%;
      position: absolute;
      top: 900px;
      padding: 0;
    }
    .intro-h{
      text-align: center;
    }
    .intro-page-p{
      text-align: center;
      padding-left: 80px;
      padding-right: 80px;
      font-size: 30px;
      line-height: 1.5;
      margin-top: 80px;
    }
    .home-svg{
      margin: auto;
      margin-top: 80px;
      width: 20%;
      margin-top: 100px;      
    }
    .home-intro-grid-text{
      padding-left: 90px;
      padding-right: 90px;
    }
    .higt-a{
      padding-left: 30px;
      padding-right: 30px;
    }
    .home-intro-grid-text h1{
      font-size: 40px;
      text-align: center;
      margin-top: 20px;
    }
    .hiop-mini{
      font-size: 24px;
      text-align: center;
      margin-top: 60px;
    }
    .hiob{
      margin-top: 89px;
      text-align: center;
      font-size: 22px;
    }
    .hiob-right{
      text-align: center;
      font-size: 22px;
    }
    .homepage-about{
      width: 600px;
    }
    .homeabout-main{
      margin-top: 1800px;
      display: block;
    }
    .home-about-texts{
      width: 100%;
      margin-top: 400px;
    }
    .why-choose-us{
      font-size: 24px;
    }
    .home-about-paragraph{
      font-size: 20px;
    }
    .home-about-btn{
      font-size: 26px;
    }
    .home-about-design{
      margin-top: 100px;
      width: 100%;
    }
    .home-about-item h1{
      font-size: 30px;
    }
    .home-about-item p{
      font-size: 22px;
    }
    .hp-about-icons{
      margin-top: 10px;
    }
    .fuel-me-bike{
      width: 100%;
      height: 700px;
      margin-left: 0;
      margin-top: 100px;
    }
    .parallax-slider-m{
      display: none;
    }
    .hiw-texts p{
      font-size: 26px;
    }
    .hiw-design{
      display: block;
    }
    .hiw-icons-left{
      width: 100%;
    }
    .hiw-app{
      width: 100%;
    }
    .homepage-how-it-works{
      width: 638px;
      margin: auto;
    }
    .hiw-three{
      position: relative;
      top: 850px;
    }
    .hiw-two{
      position: absolute;
      bottom: 950px;
    }
    .hiw-four{
      position: relative;
      margin-top: 300px;
    }
    .homepage-industries{
      width: 620px;
    }
    .industry-heading{
      display: block;
    }
    .industry-header-title{
      padding-left: 0;
    }
    .industry-heading div{
      width: 100%;
      text-align: center;
    }
    .industry-p{
      color: black;
      font-size: 20px;
      margin-top: 30px;
    }
    .industry-cards{
      display: block;
    }
    .industry-cards div{
      width: 100%;
    }
    .industry-card-base{
      margin-top: 100px;
    }
    .ind-btn{
      color: black;
      font-weight: 700;
    }
    .homepage-gas-station{
      width: 640px;
      margin-top: 150px;
    }
    .gas-main{
      display: block;
    }
    .gas-img-a{
      width: 100%;
    }
    .gas-txt{
      width: 100%;
      padding-right: 96px;
      text-align: center;
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
    .gas-txt div{
      justify-content: center;
    }
    .homepage-fuel-me-app{
      width: 640px;
    }
    .fuel-station-img-cover{
      height: 300px;
    }
    .fuel-me-app-card{
      display: block;
    }
    .fma-card-img{
      position: relative;
      bottom: 450px;
      width: 100%;
    }
    .fma-card-img img{
      margin: auto;
    }
    .fma-card-p{
      position: relative;
      top: 500px;
      width: 100%;
      padding-left: 60px;
      padding-right: 60px;
    }
    .fma-card-p h1{
      text-align: center;
    }
    .homepage-faq{
      width: 640px;
    }
    .homepage-faq p{
      font-size: 18px;
    }
    .footer-main{
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
    .footer-contents{
      display: block;
      text-align: center;
    }
    .footer-title{
      text-align: center;
    }
    .fuel-me-logo-footer{
      left: 110px;
    }
    .footer-title-social div{
      justify-content: center;
    }
    .footer-phrase{
      font-size: 20px;
    }
    .footer-heading{
      font-size: 24px;
    }
    .footer-promo{
      text-align: center;
    }

    /* Shop screen */
    .shop-heading{
      margin-top: 150px;
    }
    .product-intro-paragraph{
      font-size: 24px;
    }
    .products-card{
      padding-left: 10px;
      padding-right: 10px;
    }
    .product-card{
      display: block;
    }
    .product-title{
      width: 100%;
      text-align: center;
    }
    .cart-function{
      margin-top: 40px;
      text-align: center;
      justify-content: center;
    }
    .cart-price{
      font-size: 24px;
    }
    .product-image{
      width: 100%;
      margin-top: 50px;
    }
    .product-description{
      width: 100%;
      padding-left: 50px;
      padding-right: 50px;
      margin-top: 80px;
    }
    .prod-desc-header{
      text-align: center;
      font-size: 26px;
    }
    .prod-desc-longdesc{
      font-size: 22px;
      text-align: center;
    }
    .learn-more-prod{
      text-align: center;
    }
    .prob-btn-learn{
      font-size: 20px;
      margin-top: 50px;
    }
    .share-btns{
      width: 30%;
      margin: auto;
      text-align: center;
      margin-top: 50px;
    }
    /* Shop screen Ends */
    
    /* Fuels screen */
    .perol-screen-contents{
      padding-left: 30px;
      padding-right: 30px;
    }
    .petrol-scr-grid-contents{
      display: block;
    }
    .petrol-scr-left{
      width: 100%;
    }
    .petrol-scr-left p{
      font-size: 20px;
    }
    .petrol-scr-right{
      width: 100%;
      margin-top: 80px;
    }
    .petrol-scr-right p{
      font-size: 20px;
    }
    .petrol-promo{
      display: block;
    }
    .petrol-promo-img{
      width: 100%;
    }
    .petrol-promo-txt{
      width: 100%;
      font-size: 22px;
      margin-top: 80px;
      text-align: center;
    }
    .cng-paragraph-p{
      display: none;
    }
    /* about screen */
    .about-scr-intro-contents{
      display: block;
    }
    .about-scr-intro-img{
      width: 100%;
    }
    .about-scr-intro-texts{
      width: 100%;
      text-align: center;
    }
    .about-scr-intro-texts p{
      font-size: 24px;
    }
    .about-scr-intro-btn{
      font-size: 24px;
      width: 48%;
      margin: auto;
      margin-top: 80px;
    }
    .fuelme-values{
      margin-top: 200px;
    }
    .fuelme-values-content{
      display: block;
    }
    .fuelme-values-card{
      width: 100%;
      margin-bottom: 100px;
      padding-left: 100px;
      padding-right: 100px;
      padding-top: 100px;
      padding-bottom: 100px;
    }
    .team-content{
      display: block;
    }
    .team-card{
      width: 100%;
      margin-bottom: 100px;
    }
    .fuel-me-custom-truck{
      height: 600px;
      width: 100%;
    }
    /* about screen done */

    /* Services Screen */
    .services-intro-head{
      display: block;
    }
    .services-intro-img{
      width: 100%;
      position: relative;
      bottom: 400px;
    }
    .services-intro-texts{
      width: 100%;
      position: relative;
      top: 500px;
    }
    .services-intro-texts p{
      font-size: 24px;
    }
    .services-section{
      margin-top: 200px;
    }
    .serv-tab{
      font-size: 24px;
    }
    .services-tab-picker{
      display: block;
    }
    .services-texts{
      width: 100%;
      position: relative;
      top: 500px;
      text-align: center;
    }
    .services-texts p{
      font-size: 20px;
    }
    .services-img{
      width: 100%;
      position: relative;
      bottom: 450px;
    }
    .services-bullet{
      text-align: left;
    }
    /* Services screen end */

    /* Career screen */
    .job-opening p{
      font-size: 24px;
    }
    /* career screen ends */


    /* Contact screen */
    .contact-screen-contents{
      display: block;
    }
    .contact-screen-texts{
      width: 100%;
      text-align: center;
    }
    .contact-screen-texts p{
      font-size: 24px;
      margin-bottom: 100px;
    }
    .contact-input{
      width: 100%;
      margin-top: 150px;
    }
    .contact-telephone{
      font-size: 24px;
      justify-content: center;
    }
    /* Contact screen ends */

    .order-history-scr-main{
      padding-left: 10px;
      padding-right: 10px;
    }
    .cart-display{
      display: block;
    }
    .cart-table{
      width: 100%;
      margin-bottom: 100px;
    }
    /* Product details Screen */
    .product-contents{
      display: block;
      padding-left: 20px;
      padding-right: 20px;
    }
    .product-img{
      width: 100%;
      box-shadow: none;
    }
    .product-details{
      width: 100%;
      margin-top: 100px;
      text-align: center;
    }
    .product-details fieldset{
      margin-top: 100px;
    }
    .product-infos-container{
      padding-left: 5px;
      padding-left: 5px;
    }
    .css-70gt0h-MuiButtonBase-root-MuiTab-root.Mui-selected{
      
    }
    .css-70gt0h-MuiButtonBase-root-MuiTab-root{
      width: 0%;
    }
    .css-heg063-MuiTabs-flexContainer{
      width: 40%;
    }
    /* Product details screen end */
  }
  
 
  /* iphone 14 pro & iphone 14 pro max & >>> */
  @media screen and (min-width: 588.5px) and (max-width: 767px) {
    body{
      width: auto;
      padding: 0;
      margin: 0;
    }
    #root{
      width: 640px;
      color: black;
    }
    .nav-menu{
      display: none;
    }
    .profile{
      display: none;
    }
    .nav-logo{
      
    }
    .nav-hamburger{
      position: absolute;
      left: 40px;
      top: 40px;
      padding: 1px;
      display: block;
    }
    .nav-hamburger svg{
      font-size: 2.5rem;
      line-height: 3rem;
      color: rgb(66, 63, 63);
    }
    .fuelme-logo{
      position: absolute;
      left: 50px;
    }
    .fuelme-logo-main{
      height: 80px;
      width: 150px;
      position: relative;
      bottom: 20px;
      left: 180px;
    }
    .fuelme-logo-main-footer{
      height: 80px;
      width: 150px;
      margin: auto;
    }
    header {
      width: 640px;
      height: 200px;
    }
    .search-bar{
      display: none;
    }
    .nav-profile-btn{
      position: relative;
      bottom: 4px;
    }
    .nav-admin-icon{
      display: none;
    }
    .fa-user{
      font-size: 40px;
    }
    .fa-shopping-cart{
      font-size: 40px;
    }
    .cart-ico-container{
      position: relative;
      bottom: 10px;
      right: 0px;
    }
    .sign-in-text{
      font-size: 25px;
    }
    .navbar-for-mobile{
      display: block;
      overflow: hidden;
      height: 0px;
      transition: height 0.5s ease;
      position: absolute;
      left: 0;
      top: 130px;
      width: 630px;
      z-index: 1;
    }
    .hamburgerActive{
      height: 45%;
      overflow: auto;
    }
    .fuel-dropdown-contents{
      overflow: hidden;
      height: 0px;
      transition: height 0.1s ease;
    }
    .mobileFuelActive{
      height: 100%;
      overflow: auto;
    }
    .company-dropdown-contents{
      overflow: hidden;
      height: 0px;
      transition: height 0.1s ease;
    }
    .companyActive{
      height: 100%;
      overflow: auto;
    }
    .support-dropdown-contents{
      overflow: hidden;
      height: 0px;
      transition: height 0.1s ease;
    }
    .supportActive{
      height: 100%;
      overflow: auto;
    }
    .user-dropdown{
      overflow: hidden;
      height: 0px;
      transition: height 0.1s ease;
    }
    .profileActive{
      height: 100%;
      overflow: auto;
    }
    .home-intro-main{
      display: block;
      width: 620px;
      position: absolute;
      width: 620px;
      top: 100px;
    }
    .home-intro-pics{
      position: absolute;
      top: 0;
      width: 100%;
      padding-left: 5px;
      padding-right: 5px;
      /* background-color: red;s */
    }
    .home-intro-pics img{
      height: 800px;
    }
    .home-intro-texts{
      width: 100%;
      position: absolute;
      top: 900px;
      padding: 0;
    }
    .intro-h{
      text-align: center;
    }
    .intro-page-p{
      text-align: center;
      padding-left: 80px;
      padding-right: 80px;
      font-size: 30px;
      line-height: 1.5;
      margin-top: 80px;
    }
    .home-svg{
      margin: auto;
      margin-top: 80px;
      width: 20%;
      margin-top: 100px;      
    }
    .home-intro-grid-text{
      padding-left: 90px;
      padding-right: 90px;
    }
    .higt-a{
      padding-left: 30px;
      padding-right: 30px;
    }
    .home-intro-grid-text h1{
      font-size: 40px;
      text-align: center;
      margin-top: 20px;
    }
    .hiop-mini{
      font-size: 24px;
      text-align: center;
      margin-top: 60px;
    }
    .hiob{
      margin-top: 89px;
      text-align: center;
      font-size: 22px;
    }
    .hiob-right{
      text-align: center;
      font-size: 22px;
    }
    .homepage-about{
      width: 600px;
    }
    .homeabout-main{
      margin-top: 1800px;
      display: block;
    }
    .home-about-texts{
      width: 100%;
      margin-top: 400px;
    }
    .why-choose-us{
      font-size: 24px;
    }
    .home-about-paragraph{
      font-size: 20px;
    }
    .home-about-btn{
      font-size: 26px;
    }
    .home-about-design{
      margin-top: 100px;
      width: 100%;
    }
    .home-about-item h1{
      font-size: 30px;
    }
    .home-about-item p{
      font-size: 22px;
    }
    .hp-about-icons{
      margin-top: 10px;
    }
    .fuel-me-bike{
      width: 100%;
      height: 700px;
      margin-left: 0;
      margin-top: 100px;
    }
    .parallax-slider-m{
      display: none;
    }
    .hiw-texts p{
      font-size: 26px;
    }
    .hiw-design{
      display: block;
    }
    .hiw-icons-left{
      width: 100%;
    }
    .hiw-app{
      width: 100%;
    }
    .homepage-how-it-works{
      width: 638px;
      margin: auto;
    }
    .hiw-three{
      position: relative;
      top: 850px;
    }
    .hiw-two{
      position: absolute;
      bottom: 950px;
    }
    .hiw-four{
      position: relative;
      margin-top: 300px;
    }
    .homepage-industries{
      width: 620px;
    }
    .industry-heading{
      display: block;
    }
    .industry-header-title{
      padding-left: 0;
    }
    .industry-heading div{
      width: 100%;
      text-align: center;
    }
    .industry-p{
      color: black;
      font-size: 20px;
      margin-top: 30px;
    }
    .industry-cards{
      display: block;
    }
    .industry-cards div{
      width: 100%;
    }
    .industry-card-base{
      margin-top: 100px;
    }
    .ind-btn{
      color: black;
      font-weight: 700;
    }
    .homepage-gas-station{
      width: 640px;
      margin-top: 150px;
    }
    .gas-main{
      display: block;
    }
    .gas-img-a{
      width: 100%;
    }
    .gas-txt{
      width: 100%;
      padding-right: 96px;
      text-align: center;
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
    .gas-txt div{
      justify-content: center;
    }
    .homepage-fuel-me-app{
      width: 640px;
    }
    .fuel-station-img-cover{
      height: 300px;
    }
    .fuel-me-app-card{
      display: block;
    }
    .fma-card-img{
      position: relative;
      bottom: 450px;
      width: 100%;
    }
    .fma-card-img img{
      margin: auto;
    }
    .fma-card-p{
      position: relative;
      top: 500px;
      width: 100%;
      padding-left: 60px;
      padding-right: 60px;
    }
    .fma-card-p h1{
      text-align: center;
    }
    .homepage-faq{
      width: 640px;
    }
    .homepage-faq p{
      font-size: 18px;
    }
    .footer-main{
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
    .footer-contents{
      display: block;
      text-align: center;
    }
    .footer-title{
      text-align: center;
    }
    .fuel-me-logo-footer{
      left: 110px;
    }
    .footer-title-social div{
      justify-content: center;
    }
    .footer-phrase{
      font-size: 20px;
    }
    .footer-heading{
      font-size: 24px;
    }
    .footer-promo{
      text-align: center;
    }

    /* Shop screen */
    .shop-heading{
      margin-top: 150px;
    }
    .product-intro-paragraph{
      font-size: 24px;
    }
    .products-card{
      padding-left: 10px;
      padding-right: 10px;
    }
    .product-card{
      display: block;
    }
    .product-title{
      width: 100%;
      text-align: center;
    }
    .cart-function{
      margin-top: 40px;
      text-align: center;
      justify-content: center;
    }
    .cart-price{
      font-size: 24px;
    }
    .product-image{
      width: 100%;
      margin-top: 50px;
    }
    .product-description{
      width: 100%;
      padding-left: 50px;
      padding-right: 50px;
      margin-top: 80px;
    }
    .prod-desc-header{
      text-align: center;
      font-size: 26px;
    }
    .prod-desc-longdesc{
      font-size: 22px;
      text-align: center;
    }
    .learn-more-prod{
      text-align: center;
    }
    .prob-btn-learn{
      font-size: 20px;
      margin-top: 50px;
    }
    .share-btns{
      width: 30%;
      margin: auto;
      text-align: center;
      margin-top: 50px;
    }
    /* Shop screen Ends */
    
    /* Fuels screen */
    .perol-screen-contents{
      padding-left: 30px;
      padding-right: 30px;
    }
    .petrol-scr-grid-contents{
      display: block;
    }
    .petrol-scr-left{
      width: 100%;
    }
    .petrol-scr-left p{
      font-size: 20px;
    }
    .petrol-scr-right{
      width: 100%;
      margin-top: 80px;
    }
    .petrol-scr-right p{
      font-size: 20px;
    }
    .petrol-promo{
      display: block;
    }
    .petrol-promo-img{
      width: 100%;
    }
    .petrol-promo-txt{
      width: 100%;
      font-size: 22px;
      margin-top: 80px;
      text-align: center;
    }
    .cng-paragraph-p{
      display: none;
    }
    /* about screen */
    .about-scr-intro-contents{
      display: block;
    }
    .about-scr-intro-img{
      width: 100%;
    }
    .about-scr-intro-texts{
      width: 100%;
      text-align: center;
    }
    .about-scr-intro-texts p{
      font-size: 24px;
    }
    .about-scr-intro-btn{
      font-size: 24px;
      width: 48%;
      margin: auto;
      margin-top: 80px;
    }
    .fuelme-values{
      margin-top: 200px;
    }
    .fuelme-values-content{
      display: block;
    }
    .fuelme-values-card{
      width: 100%;
      margin-bottom: 100px;
      padding-left: 100px;
      padding-right: 100px;
      padding-top: 100px;
      padding-bottom: 100px;
    }
    .team-content{
      display: block;
    }
    .team-card{
      width: 100%;
      margin-bottom: 100px;
    }
    .fuel-me-custom-truck{
      height: 600px;
      width: 100%;
    }
    /* about screen done */

    /* Services Screen */
    .services-intro-head{
      display: block;
    }
    .services-intro-img{
      width: 100%;
      position: relative;
      bottom: 400px;
    }
    .services-intro-texts{
      width: 100%;
      position: relative;
      top: 500px;
    }
    .services-intro-texts p{
      font-size: 24px;
    }
    .services-section{
      margin-top: 200px;
    }
    .serv-tab{
      font-size: 24px;
    }
    .services-tab-picker{
      display: block;
    }
    .services-texts{
      width: 100%;
      position: relative;
      top: 500px;
      text-align: center;
    }
    .services-texts p{
      font-size: 20px;
    }
    .services-img{
      width: 100%;
      position: relative;
      bottom: 450px;
    }
    .services-bullet{
      text-align: left;
    }
    /* Services screen end */

    /* Career screen */
    .job-opening p{
      font-size: 24px;
    }
    /* career screen ends */


    /* Contact screen */
    .contact-screen-contents{
      display: block;
    }
    .contact-screen-texts{
      width: 100%;
      text-align: center;
    }
    .contact-screen-texts p{
      font-size: 24px;
      margin-bottom: 100px;
    }
    .contact-input{
      width: 100%;
      margin-top: 150px;
    }
    .contact-telephone{
      font-size: 24px;
      justify-content: center;
    }
    /* Contact screen ends */

    .order-history-scr-main{
      padding-left: 10px;
      padding-right: 10px;
    }
    .cart-display{
      display: block;
    }
    .cart-table{
      width: 100%;
      margin-bottom: 100px;
    }
     /* Product details Screen */
     .product-contents{
      display: block;
      padding-left: 20px;
      padding-right: 20px;
    }
    .product-img{
      width: 100%;
      box-shadow: none;
    }
    .product-details{
      width: 100%;
      margin-top: 100px;
      text-align: center;
    }
    .product-details fieldset{
      margin-top: 100px;
    }
    .product-infos-container{
      padding-left: 5px;
      padding-left: 5px;
    }
    .css-70gt0h-MuiButtonBase-root-MuiTab-root.Mui-selected{
      
    }
    .css-70gt0h-MuiButtonBase-root-MuiTab-root{
      width: 0%;
    }
    .css-heg063-MuiTabs-flexContainer{
      width: 40%;
    }
    /* Product details screen end */
    }

    @media screen and (min-width: 767.5px) and (max-width: 950px) {
      body{
        width: 900px;
      }
     .home-intro-pics{
      /* padding: 0; */
      margin-top: 200px;
     }
     .home-intro-pics img{
      height: 500px;
     }
     .intro-h{
      font-size: 3.5rem;
     }
     .industry-cards{
      display: block;
     }
     .industry-cards div{
      width: 100%;
      margin-bottom: 20px;
     }
     .fuel-me-app-card{
      padding-bottom: 200px;
     }
     .fma-card-img{
      margin-top: 100px;
     }
     .footer-contents{
      padding-left: 20px;
      padding-right: 20px;
     }
     .products-card{
      padding-left: 20px;
      padding-right: 20px;
     }
     .petrol-scr-grid-contents{
      display: block;
     }
     .petrol-scr-left{
      width: 100%;
      margin-bottom: 100px;
     }
     .petrol-scr-right{
      width: 100%;
      margin-bottom: 100px;
     }
     .petrol-scr-icon{
      width: 9%;
     }
     .fuelme-values-content{
      display: block;
     }
     .fuelme-values-card{
      width: 70%;
      margin: auto;
      margin-bottom: 100px;
     }
      /* Product details Screen */
    .product-contents{
      display: block;
      padding-left: 20px;
      padding-right: 20px;
    }
    .product-img{
      width: 100%;
      box-shadow: none;
    }
    .product-details{
      width: 100%;
      margin-top: 100px;
      text-align: center;
    }
    .product-details fieldset{
      margin-top: 100px;
    }
    .product-infos-container{
      padding-left: 5px;
      padding-left: 5px;
    }
    .css-70gt0h-MuiButtonBase-root-MuiTab-root{
      width: 0%;
    }
    .css-heg063-MuiTabs-flexContainer{
      width: 40%;
    }
    /* Product details screen end */
    }
  
   @media screen and (min-width: 951px) and (max-width: 1049px) {
    #contact-nav{
      margin-right: 5px;
     }
   }

    /* macbook and smaller laptop */
  
  @media screen and (min-width: 1050px) and (max-width: 1210px) {
   #contact-nav{
    margin-right: 5px;
   }
  }
  
  
   